
body {
    margin: 0;
}

.navbar {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: seagreen;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    padding: 5px;
}

a {
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
}

a:visited {
    color: white;
}

a:hover{
    cursor: pointer;
    color: lightgreen;
}

.about {
    margin-right: 10px;
}

h3 {
    padding-left: 10px;
}

input {
    margin-left: 40px;
    margin-right: 0;
    width: 55vw;
    padding: 7px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-right-width: 0;
}

input:focus{
    border-color: red;
}

button {
    margin: 0;
    border-left-width: 0;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;

}

button:hover{
    cursor: pointer;
}

.bottom-container {
    margin-left: 130px;
    margin-right: 130px;
    display: inline-flex;
    flex-direction: column;
}

.text{
    text-align: justify;
}

.nav-left {
    position: fixed;
    background-color: aquamarine;
    top: 200px;
    left: 30px;
    border-radius: 70px;
    margin: 0;
}

.nav-div {
    margin: 0;
}

.nav-left  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.fa-amazon{
    font-size: 2.5vw;
}

a .fa-amazon:hover{
    color: red;
}
.nav-left  ul li{
    padding: 10px 5px 10px 5px;
}

.nav-left a{
    color: black;
    margin: 0;
}